html {
  min-height: 100%;
}

body {
  position: relative;
  background-image: url('../images/coruscant.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.table,
.form {
  background: rgba(255, 255, 255, .75)
}

h1,
h2 {
  font-weight: bold;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
  margin: 10px;
}

.header {
  text-align: center;
}

table {
  width: 100%;
  font-size: 20px;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 3px;
}

canvas {
  position: relative;
  top: 0px;
  left: 40%;
  z-index: 1;
}

.panel,
.input {
  width: 95%;
}


#submit {
  margin: 10px;
}